body {
    background-color: black;
}

div.square {
    border: 1px solid black;
    display: inline-block;
    font-family: courier;
    text-align: center;
    position: relative;
    z-index: 1;
}

div.open {
	background-color: #EEEEEE;
}

div.closed {
    background-color: #0000FF;
	background: -prefix-linear-gradient(top, blue, cyan); 
	background: linear-gradient(to bottom, blue, cyan);                
}

div.square.topLeftCorner {
    border-top-left-radius: 50%;
}

div.square.topRightCorner {
    border-top-right-radius: 50%;
}

div.square.bottomLeftCorner {
    border-bottom-left-radius: 50%;
}

div.square.bottomRightCorner {
    border-bottom-right-radius: 50%;
}

div.square.warning {
    background-color: red;
}

div.button {
    display: inline-block;
    border: 1px solid black;
}

div.button:not(.pressedButton) {
    background-color: #dddddd;                                
}
div.button:hover:not(.pressedButton) {
    background-color: white;
}

div.button.pressedButton {
    background-color: black;
    color: white;
}

div#potentialGameSpace {
    width: 95%;
    height: 85%;
    min-width: 400px;
    min-height: 400px;
    position: fixed;
}

div#mineSweeperBoard {
    margin: auto;
}

div#controls {
    min-height: 46px;        
    min-width: 400px;        
    height: 10%;
    z-index: 3;
    position: fixed;
    background-color: white;
    left: 0;
    right: 0;
    top: 0;
}


img.boardImg {
    height: 90%;
    position: absolute;
}

img.boardImg.flag {
    left: 30%;
    top: 5%;
}

img.boardImg.mine {
    left: 5%;
    top: 5%;
}

div#newGameSettings {
    position: fixed;
    min-width: 300px;
    min-height: 300px;
    width: 40%;
    height: 40%;
    border: 3px solid #888888;
    background-color: white;
    padding: 5%;
    text-align: center;
    z-index: 2;
    top: 25%;
    left: 25%;
}

div#attributions {
    color: #888888;
    text-align: center;
}